.home {
  background-color: black;
}

a {
  outline: none;
  color: snow;
  text-decoration: none;
  font-size: 18px;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

body::-webkit-scrollbar {
  display: none;
}
