.flex {
    display: flex;
    justify-content: center;

}

.column {
    flex-direction: column;
}

.j-between {
    justify-content: space-between;
}

.j-center {
    justify-content: center;
}

.a-center {
    align-items: center;
}

.imgItem{
    border-radius: 3%
}

.vipTag{
    width: 2.3em;
    height: 1.2em;
    vertical-align: middle;
    fill: yellow;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;

}

.hover{
    display: flex;
    flex-direction: column;
}

.image-video-container{
    width: auto;
    height: auto;
}