.paymentConfirmFormContainer-1 {
  background: white;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  height: 90vh;
}

.paymentConfirmForm-1 {
  height: 100%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.paymentConfirmFormContent-1 {
  color: #141414;
}

.paymentConfirmHeading-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stepHeader-container {
  display: flex;
}
.contextRow {
  margin-top: 20px;
  margin-bottom: 30px;
}
.contextRowEmphasized {
  font-weight: bold;
}

.phoneInputContainer {
  display: flex;
  flex-direction: row;
  border: 1px #a1a1a1 solid;
  width: 440px;
  height: 50px;
}

.phoneArea {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
}

.vnFlag {
  width: 24px;
  height: 24px;
}

.caretDown {
  width: 14px;
  height: 14px;
  color: #a1a1a1;
  fill: #a1a1a1;
}

.inputPhone {
  padding-left: 15px;
  width: 100%;
  border: none;
  font-size: 17px;
}

.planContent {
  display: flex;
  justify-content: space-between;
  width: 442px;
  height: 70px;
  border-radius: 5px;
  margin-top: 15px;
  align-items: center;
  background-color: #f4f4f4;
}

.monthlyPrice {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  margin-left: 5px;
}

.planName {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
  margin-right: 5px;
}

.startMemberShipButton {
  margin-top: 25px;
  width: 442px;
  height: 56px;
  background-color: #e31221;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: 400;
}

.noteToMomo {
  padding-top: 10px;
}
